:root {
    /* Colours */
    --green: hsl(177, 68%, 64%);
    --orange-dark: hsl(12, 94%, 65%);
    --orange-light: hsl(33, 100%, 70%);
    --white: hsl(20, 33%, 98%);
    --dark: hsl(244, 23%, 12%);

    /* Font-Family */
    --font: "IBM Plex Sans";
}

body {
    font-family: var(--font);
    display: grid;
    place-content: center;
}

/* Typography */
h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.045rem;
}
h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.25;
}
a {
    text-decoration: none;
}
.main-text,
.footer-text {
    font-size: 1.6rem;
    line-height: 1.625;
}
.hero-text {
    font-size: 1.8rem;
    line-height: 1.555;
}

/* Utilities */
.set-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.wrapper {
    max-width: 144rem;
    background: var(--white) url("../assets/bg-main-mobile.png") no-repeat 0px -250px;
}

/*
Header Section
*/
.header-container {
    margin: 4rem 0 0 2.4rem;
}
.logo {
    width: 14.6rem;
    height: 3.2rem;
}

/*
Main Section
*/
.main-container {
    margin: 6.4rem 2.4rem 0 2.4rem;
    gap: 2rem;
}

/*
Hero Section
*/
.hero-container {
    margin-top: 16.6rem;
    background: var(--dark) url("../assets/bg-pattern-2.svg") no-repeat center top;
    position: relative;
    border-radius: 1.2rem;
}
.hero-img {
    width: 20.8rem;
    height: 43rem;
    margin-left: 8.1rem;
    top: -98px;
    position: absolute;
}
.hero-text-container {
    margin-top: 38rem;
    padding: 4.8rem 3.65rem;
    background-color: var(--orange-dark);
    border-radius: 1.2rem;
    color: var(--white);
}
.hero-text {
    margin-top: 1.2rem;
}
.hero-price-container {
    margin-top: 3.6rem;
    gap: 1.6rem;
    align-items: center;
}
.price {
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 0.8;
}

/*
Hero Buttons
*/
.hero-btn-container {
    margin-top: 3.2rem;
    gap: 1.6rem;
}
.btn {
    width: 29.6rem;
    height: 6.1rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.777;
    letter-spacing: 0.018rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    gap: 0.8rem;
}
.btn-apple {
    color: var(--white);
    background-color: var(--dark);
    transition: background-color 0.4s;
}
.btn-apple:hover,
.btn-apple:focus {
    background-color: var(--green);
}
.btn-android {
    color: var(--dark);
    background-color: var(--white);
    transition: background-color 0.4s;
}
.btn-android:hover,
.btn-android:focus {
    background-color: var(--orange-light);
}

/*
Footer Section
*/
.footer-container {
    margin: 6.44rem 0 8rem 2.4rem;
    gap: 6.4rem;
}
.footer-text-container {
    gap: 3.2rem;
}
.footer-text-inner-container {
    max-inline-size: 50ch;
}
.email {
    font-weight: 700;
}
.socials-container {
    gap: 2rem;
}
.social-icon {
    color: var(--dark);
    font-size: 2rem;
    transition: color 0.4s;
}
.social-icon:hover,
.social-icon:focus {
    color: var(--orange-light);
}

@media (min-width: 768px) {
    .wrapper {
        background-image: url("../assets/bg-pattern-1.svg"), url("../assets/bg-main-tablet.png");
        background-repeat: no-repeat, no-repeat;
        background-position: 538px -30px, -400px -250px;
        background-size: 266px 400px, auto;
    }

    /*
    Header Section
    */
    .header-container {
        margin: 6.2rem 0 0 4rem;
    }

    /*
    Main Section
    */
    .main-container {
        margin: 9.5rem 0 0 3.9rem;
        gap: 2.8rem;
    }
    .heading {
        font-size: 6.4rem;
        line-height: 1;
        letter-spacing: 0.073rem;
        max-inline-size: 16ch;
    }
    .main-text {
        font-size: 1.8rem;
        line-height: 1.555;
        max-inline-size: 47ch;
    }

    /*
    Hero Section
    */
    .hero-container {
        margin: 24.9rem 3.9rem 0 3.3rem;
        background: var(--dark) url("../assets/bg-pattern-2.svg") no-repeat 215px -40px;
        position: relative;
        width: 69.6rem;
        height: 60rem;
    }
    .hero-img {
        width: 27rem;
        height: 55.6rem;
        margin-left: 6.4rem;
        top: -138px;
    }
    .hero-text-container {
        margin-top: 0rem;
        padding: 4.8rem 4.85rem;
        width: 40rem;
        position: absolute;
        top: 150px;
        right: 58px;
    }

    /*
    Hero Buttons
    */
    .btn {
        gap: 1.6rem;
    }

    /*
    Footer Section
    */
    .footer-container {
        margin: 18.3rem 3.9rem 8.5rem 3.3rem;
        gap: 23rem;
        flex-direction: row;
    }
    .footer-text-inner-container {
        max-inline-size: 61ch;
    }
    .socials-container {
        margin-top: 9.4rem;
    }
}

@media (min-width: 1110px) {
    .wrapper {
        background-image: url("../assets/bg-pattern-1.svg"), url("../assets/bg-main-desktop.png");
        background-repeat: no-repeat, no-repeat;
        background-position: right -40px, -250px -300px;
        background-size: 312px 468px, auto;
    }

    /*
    Header Section
    */
    .header-container {
        margin: 6.2rem 0 0 16.6rem;
    }

    /*
    Main Section
    */
    .main-container {
        margin: 12.2rem 0 0 16.5rem;
        gap: 4rem;
    }
    .heading {
        font-size: 8.8rem;
        letter-spacing: 0.1rem;
        max-inline-size: 17ch;
    }
    .main-text {
        font-size: 2rem;
        line-height: 1.7;
        max-inline-size: 69ch;
    }

    /*
    Hero Section
    */
    .hero-container {
        margin: 32.1rem 16.5rem 0 16.5rem;
        background: var(--dark) url("../assets/bg-pattern-2.svg") no-repeat 336px -40px;
        width: 111rem;
    }
    .hero-img {
        width: 31.2rem;
        height: 64.2rem;
        margin-left: 10.2rem;
        top: -213px;
    }
    .hero-text-container {
        padding: 5.8rem 5.9rem 4.8rem 5.4rem;
        width: 44.6rem;
        position: absolute;
        top: 90px;
        right: 95px;
    }
    .hero-heading {
        font-size: 4rem;
        line-height: 1.3;
    }
    .hero-text {
        margin-top: 2.2rem;
        font-size: 2rem;
        line-height: 1.7;
    }
    .hero-price-container {
        margin-top: 3.9rem;
    }

    /*
    Hero Buttons
    */
    .hero-btn-container {
        margin-top: 4.6rem;
    }
    .btn {
        width: 33.3rem;
        gap: 1.6rem;
    }

    /*
    Footer Section
    */
    .footer-container {
        margin: 20.2rem 0rem 9.1rem 16.5rem;
        gap: 35.9rem;
    }
    .footer-text-container {
        flex-direction: row;
        gap: 13.7rem;
    }
    .socials-container {
        margin-top: 0rem;
        align-self: center;
    }
}
